# Ignore virtual environments
venv/
.env
bin/
include/
lib/
lib64/
lib64
pyvenv.cfg

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore database files
instance/
*.sqlite3

# Ignore logs
logs/
*.log

# Ignore dependencies
*.egg-info/
dist/
build/

# Ignore IDE files
.vscode/
.idea/
*.swp

# Ignore local environment settings
config.py
